[submodule "histone-acceptance-tests"]
	path = histone-acceptance-tests
	url = git://github.com/MegafonWebLab/histone-acceptance-tests.git
[submodule "build/krang-js"]
	path = build/krang-js
	url = git://github.com/angrycoding/krang-js.git
