html, body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 13px;
	font-family: Verdana;
}

.preloader-layer {
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	z-index: 10000;
	opacity: 0.7;
	background-color: white;
}

.preloader-image {
	top: 50%;
	left: 50%;
	width: 300px;
	height: 60px;
	display: none;
	z-index: 10001;
	line-height: 60px;
	text-align: center;
	margin-left: -150px;
	margin-top: -30px;
	font-weight: bold;
	padding-top: 40px;
	font-size: 11px;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../media/preloader.gif');
}

.loading .preloader-layer,
.loading .preloader-image {
	display: block;
}

.toolbar {
	margin: 0px;
	position: absolute;
	top: 0px;
	height: 31px;
	left: 0px;
	right: 0px;
	padding: 8px;
	background-color: #A8A8A8;
	background-repeat: repeat-x;
	background-position: left top;
	background-image: url('../media/toolbar_bg.png');
	border-bottom: 1px solid #949494;
}

.toolbar li {
	vertical-align: middle;
	display: inline-block;
}

.histone-logo {
	width: 32px;
	height: 32px;
	margin-left: 10px;
	cursor: default;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../media/histone.png');
}

.histone-label {
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
	cursor: default;
	text-shadow: 0px 0px 3px black;
}

.toolbar-divider {
	width: 1px;
	height: 32px;
	margin-left: 14px;
	margin-right: 14px;
	border-left: 1px solid #AAAAAA;
}

.toolbar-button {
	height: 32px;
	cursor: pointer;
	font-size: 11px;
	line-height: 32px;
	text-align: right;
	font-weight: bold;
	padding-left: 40px;
	padding-right: 5px;
	background-repeat: no-repeat;
	background-position: left top;
	text-shadow: 1px 1px 1px white;
	background-image: url('../media/button.png');
}

.toolbar-button:active {
	background-position: left bottom;
}

.change-result-format {
	cursor: pointer;
}

.toolbar-right {
	height: 32px;
	line-height: 32px;
	float: right;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 1px 1px 1px white;
}

.workspace {
	top: 48px;
	bottom: 22px;
	left: 0px;
	right: 0px;
	position: absolute;
}

.left-column {
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 50%;
	position: absolute;
	overflow: auto;
	z-index: 1;
	border-right: 1px solid #949494;
}

.left-column .CodeMirror {
	width: 100%;
	height: 100%;
	position: absolute;
}

.left-column .CodeMirror-scroll {
	height: 100%;
}

.left-column .CodeMirror-gutter {
	background-color: white;
	border-right: none;
}

.left-column .CodeMirror-gutter-text {
	padding-left: 15px;
	padding-right: 15px;
}

.right-column {
	left: 50%;
	top: 0px;
	bottom: 0px;
	right: 0px;
	position: absolute;
}

.right-column .html-area,
.right-column .text-area {
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: 0px;
	padding: 5px;
	overflow: auto;
	outline: none;
	resize: none;
	border-style: none;
	position: absolute;
	width: 100%;
	height: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.result-html .text-area,
.result-text .html-area {
	display: none;
}

.console {
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 22px;
	color: red;
	z-index: 10;
	font-size: 11px;
	position: absolute;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 22px;
	border-top: 1px solid #949494;
}

.activeline {background: #EFEFEF !important;}
.cm-s-elegant span.cm-number, .cm-s-elegant span.cm-string, .cm-s-elegant span.cm-atom {color: #762;}
.cm-s-elegant span.cm-comment {color: #262; font-style: italic; line-height: 1em;}
.cm-s-elegant span.cm-meta {color: #555; font-style: italic; line-height: 1em;}
.cm-s-elegant span.cm-variable {color: black;}
.cm-s-elegant span.cm-variable-2 {color: #b11;}
.cm-s-elegant span.cm-qualifier {color: #555;}
.cm-s-elegant span.cm-keyword {color: #730;}
.cm-s-elegant span.cm-builtin {color: #30a;}
.cm-s-elegant span.cm-error {background-color: #fdd;}
.cm-s-elegant span.cm-link {color: red;}
.cm-s-elegant div.CodeMirror-selected {background: #B5D4FF !important;}
.cm-s-elegant .CodeMirror-matchingbracket { color: red !important; }
.cm-s-elegant .CodeMirror-nonmatchingbracket { color: black !important; }